@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-color: #f4f7fd;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 10%;
  z-index: 10;

  &__logo a {
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }

  &__menu {
    display: flex;

    a {
      display: inline-block;
      font-weight: 400;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
    }
  }

  &__link {
    padding: 20px;
  }

  &__dropdown {
    &:hover .header__sub-menu {
      display: block;
    }
  }

  &__sub-menu {
    &:hover {
      display: block;
    }

    display: none;
    position: absolute;
    transform: translate3d(0, 20px, 0);
    background: #fff;
    min-width: 150px;
    color: red;
    border-radius: 3px;

    a {
      color: black;
      display: block;
      padding: 10px;
    }
  }
}

.jumbo {
  background: black;
  height: 100vh;
  width: 100%;
  position: relative;

  &__bg-image {
    background: url('/assets/jumbobg.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 1;
    top: 0;
  }

  &__transparent-color {
    background: rgba(66, 53, 88, 0.7);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 2;
  }

  &__titles {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    h1 {
      font-size: 5rem;
      color: rgb(255, 251, 11);
      font-weight: 900;
      text-transform: uppercase;
      transform: translate3d(100px, 0, 0);
    }
    h2 {
      font-size: 5rem;
      color: white;
      font-weight: 200;
      text-transform: uppercase;
      transform: translate3d(130px, 0, 0);
    }
  }

  &__state {
    display: flex;
    align-items: center;
    background: #fff;
    position: absolute;
    height: 15%;
    z-index: 3;
    width: 100%;
    bottom: 0;

    &__number {
      font-size: 5rem;
      transform: translate3d(50px, 0, 0);
    }
  }

  &__store-info {
    display: flex;
    position: absolute;
    height: 25%;
    z-index: 3;
    width: 75%;
    bottom: 0;
    right: 0;
    padding-top: 2rem;

    img {
      height: 100%;
      width: 25%;
      object-fit: cover;
      cursor: pointer;
      filter: saturate(15%);
      transition: all 0.4s ease-in-out;
      margin-left: 0.5rem;

      &:hover {
        filter: saturate(60%);
      }
    }
  }
}

.collections {
  margin: 2.5rem 0;

  &__left-collection {
    position: relative;

    &__collection-title {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      font-size: 3.5rem;
      font-weight: 700;
      text-transform: uppercase;

      span {
        line-height: 1;
        transform: translate3d(-35px, 50px, 0);
      }
    }
  }

  &__left-collection-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__overlay {
    position: absolute;
    background: rgba(255, 255, 000, 0.5);
    height: 100%;
    width: 100%;
  }

  &__left-collection-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }

  &__right-collection {
    &__bg {
      height: 500px;
      background-color: #dddfe4;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__img-wrapper {
      width: 300px;
      height: 300px;
    }

    &__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &__collection-title {
      span {
        font-size: 3.5rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        transform: translate3d(-68px, -100px, 0);
        display: block;
      }
    }
  }
}

.off-sale {
  height: 700px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__overlay {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  &__number {
    color: #fff;
    font-size: 12rem;
    font-weight: 700;
  }

  &__title {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 15px;
    margin-bottom: 1.5rem;
  }

  &__link {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 15px;
    padding: 16px 60px;
    border: 2px solid #fff;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: rgb(255, 251, 11);
      color: #000;
    }
  }
}
