@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 10%;
  z-index: 10;

  &__logo a {
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }

  &__menu {
    display: flex;

    a {
      display: inline-block;
      font-weight: 400;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
    }
  }

  &__link {
    padding: 20px;
  }

  &__dropdown {
    &:hover .header__sub-menu {
      display: block;
    }
  }

  &__sub-menu {
    &:hover {
      display: block;
    }

    display: none;
    position: absolute;
    transform: translate3d(0, 20px, 0);
    background: #fff;
    min-width: 150px;
    color: red;
    border-radius: 3px;

    a {
      color: black;
      display: block;
      padding: 10px;
    }
  }
}
